body {
    padding: 0;
    margin: 0;
    background: #8B4513;
    font-family: 'Gentium Book Basic', serif;
}

h1 {
    padding: 8px 25px 0px 15px;
    margin: 0;
    background: #8B4513;
    color: #fac985;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 400;
    font-size: 1.3em;
    text-align: right;
}

h2 {
    margin: 0;
    padding: 5px 25px 0px 15px;
    color: #8B4513;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 500;
    font-size: 1.1em;
    text-align: right;
}

h3 {
    margin: 0;
    padding: 5px 0px;
    color: #8B4513;
    font-family: 'Alfa Slab One', cursive;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
}

h4 {
    margin: 0;
    padding: 5px 0px 5px 0px;
    color: #8B4513;
    font-family: 'Gentium Book Basic', serif;
    font-weight: 500;
    font-size: 1em;
    text-align: right;
}

p {
    font-family: 'Gentium Book Basic', serif;
    font-weight: 500;
    font-size: .9em;
}

#map {
    width: 900px;
    height: 825px;
    position: absolute;
    left: 400px;
    top: 0;
    border: 2px solid #2d1606;
    background: #E0FFFF;
    pointer-events: auto;
}

#side-panel {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    height: 825px;
    background: #fde9ce;
    border-right: 2px solid #2d1606;
    border-bottom: 2px solid #2d1606;
    overflow-y: auto;
}

#side-panel p {
    margin: 8px 0 4px;
    padding: 0 25px 0 15px;
    color: #3d3d3d;
    text-align: right;
    font-size: .97em;
}

#side-panel p:after {
    content: '';
    display: block;
    clear: both;
}

#legend {
    position: absolute;
    left: 35px;
    top: 500px;
    padding: 8px 15px;
    background: #fac985;
    border: 2px solid #8B4513;
    border-radius: 3px;
    color: #8B4513;
    width: 270px;
}

#legend p {
    margin: 0 0 5px;
    text-align: right;
}

#legend span {
    display: block;
    border-radius: 50%/50%;
    float: right;
    height: 15px;
    width: 15px;
    text-align: right;
    font-size: 9px;
    color: #8B4513;
    margin-left: 10px;
}

#legend span.square {
    border-radius: 0;
}

#legend a {
    color: #8B4513;
}

.land {
    fill: #F0F8FF;
    pointer-events: auto;
}

.state {
    fill: none;
    stroke: #8B4513;
    stroke-width: 1.5px;
}

.state2 {
    fill: #fde9ce;
    stroke: none;
}

.usa {
    fill: #cccccc;
    stroke: #8B4513;
    stroke-width: 1.5px;
}

.borders {
    fill: none;
    stroke: #F0F8FF;
    stroke-width: 1.5px;
}

.countries {
    fill: #595959;
}

.centroid {
    fill: #fb1d04;
    fill-opacity: .01;
    stroke: #fb1d04;
    stroke-width: 6px;
    pointer-events: auto;
}

.centroidOff {
    stroke-width: 6px;
    fill-opacity: .01;
    stroke: #ff8c00;
    stroke-width: 6px;
    pointer-events: auto;
}

.overlay {
    fill: none;
    pointer-events: auto;
}

.layer-control {
    position: absolute;
    left: 1410px;
    top: 8px;
    width: 300px;
    padding: .5em;
    color: #2d1606;
    background-color: #8B4513;
    max-height: 500px;
}

a:link {
    text-decoration: none;
    color: #cc7000;
}

a:hover {
    color: red;
}

a:visited {
    color: #cc7000;
}

#tooltip-container {
    position: absolute;
    border-radius: 3px;
    color: #2d1606;
    background-color: #fac985;
    padding: .5em;
    border: 1px solid #2d1606;
    display: none;
}

#tooltip-container ul {
    list-style-type: none;
    padding: 0;
    margin: 4px 4px 0;
    color: #2d1606;
}

#tooltip-container li {
    list-style-type: none;
    height: 25px;
}

#info-container {
    position: absolute;
    border-radius: 3px;
    color: #2d1606;
    background-color: #fac985;
    padding: .5em;
    border: 1px solid #2d1606;
    display: none;
}

#info-container ul {
    list-style-type: none;
    padding: 0;
    margin: 4px 4px 0;
    color: #2d1606;
}

#info-container li {
    list-style-type: none;
    height: 25px;
}

#toggle-circles {
    background: #fb1d04;
    color: #fac985;
    font-family: 'Gentium Book Basic', serif;
    font-weight: 500;
    font-size: 1.2em;
    margin-left: 128;
}

#portfolio {
    position: absolute;
    left: 0;
    top: 795;
    margin: 8px 0 4px;
    padding: 0 25px 0 15px;
    color: #3d3d3d;
    text-align: right;
    font-size: .97em;
}
